    <div class="wysiwyg">
        <h1>{{ title }}</h1>
        <!-- <ul>
            <li><a href="home.html">Page d'accueil</a></li>
            <li><a href="page-resultats.html">Page résultats</a></li>
            <li><a href="page-a-la-une.html">Page à la une </a></li>
            <li><a href="page-actualite.html">Page actualité </a></li>
            <li><a href="page-solution.html">Page solution</a></li>
            <li><a href="page-evenements.html">Page événements</a></li>
            <li><a href="page-acteur.html">Page acteur</a></li>
            <li><a href="page-financements.html">Page financements</a></li>
            <li><a href="page-contactez-nous.html">Contactez-nous</a></li>
            <li><a href="page-inscription.html">Page Inscription</a></li>
            <li><a href="page-desinscription.html">Page désinscription</a></li>
            <li><a href="page-pas-a-pas.html">Page pas à pas</a></li>
            <li><a href="page-maison.html">Page maison</a></li>
            <li><a href="sitemap.html">Page plan du site</a></li>
            <li><a href="page-home-podcasts.html">Page des Podcasts</a></li>
            <li><a href="page-emission.html">Page émission</a></li>
            <li><a href="page-podcast.html">Page podcast</a></li>
        </ul> -->

        {% include src/page/externe/index.html %}
    </div>