<footer class="site-footer container" id="down">
  <div class="footer-left">
    <a href="https://solidarites-sante.gouv.fr/">
      <img class="logo-ministere" src="{{ '/assets/images/ministere-logo-footer.png' | relative_url }}"
        alt="ministere logo" />
    </a>
    <a href="https://solidarites-sante.gouv.fr/">
      <img src="{{ '/assets/images/datalab-logo-footer.svg' | relative_url }}" alt="datalab logo" />
    </a>
  </div>
  <div class="footer-right">
    <div class="footer-right--content">
      <a href="#">Liens lorem ipsum.</a>
      <a href="#">Liens lorem ipsum.</a>
    </div>
    <div class="footer-right--content">
      <a href="#">Liens lorem ipsum.</a>
      <a href="#">Liens lorem ipsum.</a>
    </div>
  </div>
</footer>