<header class="container">
  <nav class="navbar" role="navigation">
    <div class="nav-left">
      <a class="navbar__logo" href="https://solidarites-sante.gouv.fr/">
        <img src="{{ '../assets/images/ministere-logo.png' | relative_url }}"
                                  alt="ministere logo" />
      </a>
      <a class="navbar__logo" href="https://solidarites-sante.gouv.fr/">
        <img src="{{ '../assets/images/datalab-logo.png' | relative_url }}"
                                  alt="datalab logo" />
      </a>
    </div>
    <div class="nav-right">
      <a class="btn btn-blue navbar__btn" href="https://solidarites-sante.gouv.fr/">
        Nous contacter
      </a>
    </div>
  </nav>
</header>

