
.contact-us {
    background-color: $blue;
    padding-top: 6rem;
    padding-bottom: 6rem;

    label {
        color: $white;
        font-size: 1.4rem;
        font-weight: $fw-regular;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    textarea {
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
    }

    textarea {
        height: 13.7rem;
    }

    h2 {
        color: $white;
        text-align: center;
        margin-bottom: 6rem;
    }

    .btn-form {
        margin-top: 5.5rem;
        text-align: center;

        a {
            background-color: #BFBFE3;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: #BFBFE3;
                border: 1px solid #BFBFE3;
            }
        }
    }
}

.contact-us-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__field {
            margin-bottom: 2rem;
        }
    }
}


@include media-breakpoint-up(md) {
    .contact-us-wrapper {
        flex-direction: row;

        &--item {
            margin-right: 3.3rem;
            margin-bottom: 0;

            &__field {
                margin-bottom: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}