<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        {{ content }}

        <!-- <script type="text/javascript" defer  src="{{'../node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script> -->
<!--
        <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script> -->

<!--
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery.js"></script>
        <script src="{{ base.url | prepend: site.url }}/assets/js/jquery-ui.min.js"></script>

        <script src="{{ base.url | prepend: site.url }}/assets/js/script.js"></script> -->
    </main>

    {% include footer.html %}

  </body>

</html>
